<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="well">

        <% if params[:plan] == "2" %>
          <%= render 'partials/pro_form' %>
        <% else %>
          <%= render 'partials/basic_form' %>
        <% end %>

      </div>
      <div class="well text-center">
      Already have an account? <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
