<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">


        <% if params[:plan] == "2" %>
          <div class="well premium-signup-form">
            <%= render 'partials/pro_form' %>
          </div>
        <% else %>
          <div class="well basic-signup-form">
            <%= render 'partials/basic_form' %>
          </div>
        <% end %>


      <div class="well text-center">
      Already have an account? <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
