
<div class="table">
  <div class="table-row header green">
    <div class="cell text-center">#</div>
    <div class="cell">Requested</div>
    <div class="cell">Status</div>
  </div>



  <% current_user.requested_items.each do |item| %>
    <div class="table-row">
      <% if item.item_requests.any? %>
      <div class="cell text-center"><%= item.id %></div>
      <div class="cell"><%= link_to item.title, item_path(item) %></div>
      <% if item.item_requests.find_by(approved: true) %>
      <div class="cell">Approved</div>
      <% else %>
      <div class="cell">Requested</div>
      <% end %>
      <% end %>
    </div>
  <% end %>
</div>

