<div class="row">
  <div class="col-xs-6">
    <%= image_tag('hacker-dog.jpg', class: 'avatar img-responsive') %>
  </div>
  <div class="col-xs-6">
    <h4>Bio</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente aspernatur, maxime dignissimos enim in, nostrum doloremque! Incidunt cum consequatur quasi quo reprehenderit aut, quas fugiat et nostrum, accusantium, repellat quis.
    </p>
  </div>
</div>
