<div class="row dash">
  <div class="col-xs-6 col-xs-offset-3 upload-form">
  <% if current_user.is_informant? %>
    <%= render 'form' %>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= render 'partials/informant_table' %>
    </div>
  </div>
  </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'partials/journalist_table' %>
      </div>
    </div>
  <% end %>



