<div class="full-screen-bg">
  <%= video_tag 'Boxplant720.mov.mp4', controls: false, autoplay: true, muted: true, loop: true, id: 'bgvid', class: 'fullscreen-bg-video', type: 'video/mp4' %>

  <div class="home-container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Secret Source</h1>
        <h3 class="text-white">No Questions Asked.</h3>
        <p class="text-white">Anonymous Information Brokering. Get Bidding.</p>
        <%= link_to 'Learn More', root_path, class: 'btn btn-primary btn-white' %>
        <%= link_to 'Get Started', root_path, class: 'btn btn-primary btn-filled' %>
      </div>
    </div>
  </div>
</div>
