<div class="source-board-header">
<h1>Source Board</h1>

<%= link_to 'New Item', new_item_path, class: 'btn btn-primary new-item' %>
</div>


  <% @items.each do |item| %>
    <div class="jumbotron text-center">
      <h2><%= link_to item.title, item %></h2>
      <p><%= item.description %></p>
    </div>
  <% end %>
