<div class="source-board-header">
  <h1>Source Board</h1>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="input-group">
        <input type="text" class="form-control search-form" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-filled btn-primary search-btn" type="button"><%= icon('search') %></button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>


  <% @items.each do |item| %>
    <div class="jumbotron text-center">
      <h2><%= link_to item.title, item %></h2>
      <p><%= item.description %></p>
    </div>
  <% end %>
