@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// General styles

body {
  width: 100%;
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: ghostwhite;
}

// Navigation

nav.navbar-inverse {
  background: transparent;
  border-radius: 0;
  border: none;
  a.navbar-brand {
    color: ghostwhite;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
  }
  .navbar-nav {
    li a {
      color: ghostwhite;
      &:hover {
        color: #9d9d9d;
        background: transparent;
      }
    }
    .active a {
      background-color: #859398;
    }
  }
}

// Jumbotron
.jumbotron {
  padding: 40px 40px 40px 120px;
  border-radius: 4px;
  // box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  // transition-property: color,background-color,box-shadow,transform;
  transition-duration: .15s;
  &:hover {
  transform: translateY(-4px);
  // box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
  }
  .close-btn {
    float: right;
    font-size: 2em;
    color: #3e3b3e;
    position: relative;
    top: -35px;
    right: -30px;
  }
}

// Source Board

.source-board-header {
  margin-bottom: 2em;
  text-align: center;
}

// Dashboard

.avatar {
  border-radius: 10px;
}

.table {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  background-color: #fff;
}
