@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Variables

$danger-red: #d42429;
$info-blue: #39c2dd;
$cool-green: #00ce77;


// General styles

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: ghostwhite;
}

.text-white {
  color: ghostwhite;
}

// Buttons
.btn {
  background: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  min-width: 155px;
  &:hover {
    background: none;
    color: #fff;
    border-color: $cool-green;
    background-color: $cool-green;
  }
}

.btn-white {
  border-color: #fff !important;
  color: #fff !important;
  &:hover {
    background: #fff;
    color: #333333 !important;
    border-color: #fff;
  }
}

.btn-xs {
  padding: 8px 24px !important;
  font-size: 12px !important;
}

.btn-primary {
  border-radius: 25px;
  display: inline-block;
  padding: 14px 28px 13px 28px;
  line-height: 1;
  border: 2px solid $cool-green;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $cool-green;
}

.btn-filled {
  background: $cool-green;
  color: #fff;
  &:hover {
    background-color: transparent;
    border: 2px solid $cool-green;
    color: $cool-green;
  }
}

.btn-info {
  background-color: $info-blue;
  border: 2px solid $info-blue;
  color: ghostwhite;
  &:hover {
    background-color: transparent;
    border: 2px solid $info-blue;
    color: $info-blue;
  }
}

.btn-danger {
  background-color: $danger-red;
  border: 2px solid $danger-red;
  color: ghostwhite;
  &:hover {
    background-color: transparent;
    border: 2px solid $danger-red;
    color: $danger-red;
  }
}

// Navigation

nav.navbar-inverse {
  z-index: 1000;
  background: transparent;
  border-radius: 0;
  border: none;
  padding: 1em .5em;
  a.navbar-brand {
    font-size: 1.8em;
    color: ghostwhite;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
  }
  .navbar-nav {
    li a {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      color: ghostwhite;
      text-transform: uppercase;
      letter-spacing: 1px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: all .5s ease;
      padding-bottom: 40px;
      display: inline-block;
      line-height: 14px;
      &:hover {
        color: #9d9d9d;
        background: transparent;
      }
    }
    .active a {
      background-color: #859398;
    }
  }
}

// Home Page

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-container {
  z-index: 3;
  position: relative;
  padding-top: 20%;
  h1 {
    font-size: 2.8em;
    color: ghostwhite;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
  }
  h3 {
    font-weight: 400;
  }
  a.btn {
    margin-top: 24px;
    margin-right: 16px;
    a.btn:last-child {
      margin-right: 0;
    }
  }
  img.flask-logo {
    margin: -20px auto;
    width: 75px;
    height: 75px;
  }
}


// Jumbotron

.jumbotron {
  padding: 40px 40px 40px 120px;
  border-radius: 4px;
  // box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  // transition-property: color,background-color,box-shadow,transform;
  transition-duration: .15s;
  &:hover {
  transform: translateY(-4px);
  // box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
  }
  .close-btn {
    float: right;
    font-size: 2em;
    color: #3e3b3e;
    position: relative;
    top: -35px;
    right: -30px;
  }
}

// Source Board

.source-board-header {
  margin-bottom: 2em;
  text-align: center;
}

// Dashboard

.profile {
  margin-bottom: 3em;
}

.new_item {
  background-color: #fff;
  padding: 1em 2em;
  border-radius: 10px;
}

.padded-table table {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  background-color: #fff;
  border-radius: 10px;
  border-spacing: 10px;
  padding: 3em;
  th {
    padding: 2em 1em !important;
    border: 0;
  }
}

// Flash messages

.alert {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3em;
  text-align: center;
}

// Sign up and Login

.input-group-addon {
  text-align: left;
  padding: 5px;
  label[for="user_Informant"],
  label[for="user_Journalist"] {
  padding: 5px;
  margin: 0 auto;
  }
}

// Media Queries

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg-video {
    width: 100%;
    top: 0;
    object-fit: fill;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg-video {
    height: 100%;
    top: 0;
    object-fit: fill;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background-image: url("boxplant.png") center center / cover no-repeat;
  }

  .fullscreen-bg-video {
    display: none;
  }
}


